$green: #02A68D;
$green-half-opacity: rgba(2,166,141,0.5);
$green-three-quarter-opacity: rgba(2,166,141,0.75);

$purple: #820263;
$purple-half-opacity: rgba(130,2,99,0.5);
$purple-three-quarter-opacity: rgba(130,2,99,0.75);

$orange: #F75C02;
$orange-half-opacity: rgba(247,92,2,0.5);
$orange-three-quarter-opacity: rgba(247,92,2,0.75);

$pink: #D90368;
$pink-half-opacity: rgba(217,3,104,0.5);
$pink-three-quarter-opacity: rgba(217,3,104,0.75);
