@import "margins";
@import "reset";

.clear-it {
  @include clearfix();
}

.valign {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

.valign-large {
  @include media(min-width 1280px) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.valign-middle-up {
  @include media(min-width 640px) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}