@import "margins";
@import "reset";

.clear-it {
  @include clearfix();
}

.valign {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}

.valign-xlarge {
  @include media(min-width 1280px) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
.valign-large {
  @include media(min-width 860px max-width 1279px) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.valign-middle {
  @include media(min-width 640px max-width 859px) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}