html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.no-margin {
  margin: 0; }

.no-top {
  margin-top: 0; }

.no-bottom {
  margin-botom: 0; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear-it::after {
  clear: both;
  content: "";
  display: table; }

.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

html, body {
  height: 100%; }

.outer-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%; }
  .outer-container::after {
    clear: both;
    content: "";
    display: table; }

.z-top {
  z-index: 200; }

.z-middle {
  z-index: 100; }

.z-bottom {
  z-index: 0; }

header.header {
  position: absolute;
  top: 18px;
  width: 100%;
  height: 100px; }
  header.header .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-align: center; }
    header.header .logo:last-child {
      margin-right: 0; }
    header.header .logo img {
      max-height: 100px; }
  header.header .title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    height: 100%; }
    header.header .title:last-child {
      margin-right: 0; }
    header.header .title .name {
      text-align: center;
      font-size: 3em;
      font-weight: 200; }
    header.header .title .dream {
      text-align: center;
      font-size: 2em;
      font-weight: 200;
      color: #F75C02; }
  header.header .menu {
    margin-top: 9px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.96686%;
    margin-right: 0;
    text-align: right; }
    header.header .menu:last-child {
      margin-right: 0; }
    header.header .menu ul li {
      font-size: 1.125em;
      line-height: 1.125em;
      font-weight: 300; }
  header.header .menu-container {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.96686%;
    margin-right: 0;
    height: 100%; }
    header.header .menu-container:last-child {
      margin-right: 0; }
    header.header .menu-container .menu-button {
      font-size: 4em; }

footer.footer {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 36px; }
  footer.footer .tagline {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    footer.footer .tagline:last-child {
      margin-right: 0; }
    footer.footer .tagline h4 {
      text-align: left;
      font-size: 1.125em;
      font-weight: 200; }
  footer.footer .social-links {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    text-align: right; }
    footer.footer .social-links:last-child {
      margin-right: 0; }
    footer.footer .social-links a {
      margin-right: 6px;
      text-decoration: none; }
      footer.footer .social-links a img {
        width: 28px;
        height: 28px; }

@font-face {
  font-family: gotham;
  src: url(../fonts/gotham/gotham-medium.ttf) format("truetype"); }
@font-face {
  font-family: gotham;
  src: url(../fonts/gotham/gotham-bold.ttf) format("truetype");
  font-weight: bold; }
@font-face {
  font-family: gotham;
  src: url(../fonts/gotham/gotham-bolditalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: gotham;
  src: url(../fonts/gotham/gotham-mediumitalic.ttf) format("truetype");
  font-style: italic; }
@font-face {
  font-family: gotham;
  src: url(../fonts/gotham/gotham-book.ttf) format("truetype");
  font-weight: 300; }
@font-face {
  font-family: gotham;
  src: url(../fonts/gotham/gotham-bookitalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: gotham;
  src: url(../fonts/gotham/gotham-light.ttf) format("truetype");
  font-weight: 200; }
@font-face {
  font-family: gotham;
  src: url(../fonts/gotham/gotham-lightitalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic; }
body, p, h1, h2, h3, h4, h5, h6 {
  font-family: gotham, "Helvetica Neue", Helvetica, Roboto, sans-serif;
  font-weight: normal; }

.content {
  height: 100%; }

.row {
  margin-left: 12.79471%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-top: 18px; }
  .row:last-child {
    margin-right: 0; }
  .row .row-item {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-right: 18px;
    cursor: pointer; }
    .row .row-item:nth-child(3n) {
      margin-right: 0; }
    .row .row-item:nth-child(3n+1) {
      clear: left; }
    .row .row-item img {
      width: 100%;
      transition: all 200ms ease-out;
      cursor: pointer; }
    .row .row-item .hover-down {
      opacity: 0;
      position: absolute;
      top: 0; }
    .row .row-item:hover .hover-up {
      opacity: .00001; }
    .row .row-item:hover .hover-down {
      opacity: 1; }

/*# sourceMappingURL=style.css.map */
