{% extends 'base.html' %}

{% block title %}
Demo | Meghan R Duffy | Do Real Shit
{% endblock title %}

{% block body_content %}

    <div class="inner-content valign">
        <!--<h2 class="content=title">Photography</h2>-->
        <ul class="row">
           <li class="row-item content-item" id="1">
                <img class="hover-up" src="http://placehold.it/500/CCCCCC/FFFFFF/"/>
                <img class="hover-down" src="http://placehold.it/500/291720/FFFFFF/"/>
                <em class="clear-it"></em>
           </li>
            <li class="row-item content-item" id="2">
                <img class="hover-up" src="http://placehold.it/500/CCCCCC/FFFFFF/"/>
                <img class="hover-down" src="http://placehold.it/500/009B77/FFFFFF/"/>
                <em class="clear-it"></em>
           </li>
            <li class="row-item content-item" id="3">
                <img class="hover-up" src="http://placehold.it/500/CCCCCC/FFFFFF/"/>
                <img class="hover-down" src="http://placehold.it/500/820263/FFFFFF/"/>
                <em class="clear-it"></em>
           </li>
        </ul>
        <ul class="row">
           <li class="row-item content-item" id="1">
                <img class="hover-up" src="http://placehold.it/500/CCCCCC/FFFFFF/"/>
                <img class="hover-down" src="http://placehold.it/500/F75C02/FFFFFF/"/>
                <em class="clear-it"></em>
           </li>
            <li class="row-item content-item" id="2">
                <img class="hover-up" src="http://placehold.it/500/CCCCCC/FFFFFF/"/>
                <img class="hover-down" src="http://placehold.it/500/D90368/FFFFFF/"/>
                <em class="clear-it"></em>
           </li>
            <li class="row-item content-item" id="3">
                <img class="hover-up" src="http://placehold.it/500/CCCCCC/FFFFFF/"/>
                <img class="hover-down" src="http://placehold.it/500/291720/FFFFFF/"/>
                <em class="clear-it"></em>
           </li>
        </ul>
        <em class="clear-it"></em>
    </div>

{% endblock body_content %}
