{% extends 'base.html' %}

{% load static from staticfiles %}

{% block page_title %}
{{ title }} | Meghan R. Duffy
{% endblock page_title %}

{% block body_content %}

    <div class="inner-content">
        <ul class="row">
            {% for item in items %}
                {% if item.is_foto %}
                    <a
                        class="fancybox-button"
                        rel="fancybox-button"
                        href="{{ item.image_color.url }}"
                        title="{{ item.name }}"
                    >
                        <li class="row-item content-itemcentered-image-container gone delayed">
                            <img class="sizer" src="{{ item.image_color.url }}"/>
                            <div
                                class="img sized-image centered-image hover-up"
                                style="background-image: url({{ item.image_color.url }});"
                                alt="{{ item.name}}"
                            >

                            </div>
                            <div
                                class="img sized-image centered-image hover-down"
                                style="background-image: url({{ item.image_grayscale.url }});"
                                alt="{{ item.name}}"
                            ></div>
                            <div class="info">
                                <h6 class="">{{ item.name }}</h6>
                            </div>
                            <em class="clear-it"></em>
                        </li>
                    </a>
                {% elif item.is_scritto %}
                    <a
                        class=""
                        href="{{ item.link }}"
                        target="_blank"
                    >
                        <li class="row-item content-item centered-image-container gone delayed">
                            <img class="sizer" src="{{ item.image_color.url }}"/>
                            <div
                                class="img sized-image centered-image hover-up"
                                style="background-image: url({{ item.image_color.url }});"
                                alt="{{ item.name}}"
                            >

                            </div>
                            <div
                                class="img sized-image centered-image hover-down"
                                style="background-image: url({{ item.image_grayscale.url }});"
                                alt="{{ item.name}}"
                            ></div>
                            <div class="info">
                                <h6 class="">{{ item.name }}</h6>
                            </div>
                            <em class="clear-it"></em>
                        </li>
                    </a>
                {% endif %}
            {% endfor %}
        </ul>
        <em class="clear-it"></em>
    </div>

{% endblock body_content %}
