@import "bourbon/bourbon";
@import "neat/neat";

@import "utils/utils";
@import "layout";
@import "regions/regions";

@import "fonts";


.content {
  height: 100%;
}
.row {
  @include shift(1.5);
  @include span-columns(9);
  margin-top: 18px;
  .row-item {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-right: 18px;
    cursor: pointer;
    @include omega(3n);
    img {
      width: 100%;
      transition: all 200ms ease-out;
      cursor: pointer;
    }

    .hover-up {

    }
    .hover-down {
      opacity: 0;
      position: absolute;
      top:0
    }

    &:hover {
      .hover-up {
        opacity: .00001;
      }
      .hover-down {
        opacity: 1;
      }
    }
  }
}