@import "bourbon/bourbon";
@import "neat/neat";

@import "utils/utils";
@import "layout";
@import "regions/regions";

@import "fonts";


a, a:hover, a:visited {
  color: #000000;
  text-decoration: initial;
}


.content {
  margin-top: 3em;
  margin-bottom: 3em;
}

.about {
  .left-col {
    @include shift(1.5);
    @include span-columns(4.25);
    height: 500px;
  }
  .right-col {
    @include shift(0.5);
    @include span-columns(4.24);
    height: 500px;
  }

  .photo-col {
    .profile-img {
      max-width: 100%;
      max-height: 100%;
      text-align: right;
    }
  }
  .text-col {
    .text-container {
      font-weight: 200;
      font-size: 1.5em;
      p {
        font-weight: inherit;
      }
    }
  }
}

@include media(max-width 640px, 8) {
  .about {
    margin-top: 6em;
    .photo-col, .text-col {
      @include shift(1);
      @include span-columns(6);
      height: auto;
      margin-bottom: 2em;
    }
  }
}



.row {
  @include shift(1.5);
  @include span-columns(9);
  margin-top: 18px;
  .row-item {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-right: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    transition: all 200ms ease-out;

    @include omega(3n);
    &.gone {
      opacity: .01;
    }
    &.delayed {
      transition-delay: 0.5s;
    }
    .sizer { display: none; }
    .img {
      background-position: 50% 50%;
      width: 100%;
      transition: all 200ms ease-out;
      cursor: pointer;
      position: relative;
      background-size: 100% 100%;
      &.taller {
        background-size: 100% auto;
      }
      &.fatter {
        background-size: auto 100%;
      }
    }
    .info {
      position: absolute;
      width: 90%;
      left: 5%;
      padding: .5em .5em;
      vertical-align: middle;
      border-radius: 4px;
      background-color: #820263;
      opacity: 0;
      transition: all 150ms ease-in;
      text-align: center;
      //box-shadow: 0 3px 6px #333;
      h6 {
        color: #ffffff;
        font-size: .8em;
        line-height: 1em;
        font-weight: 300;
      }
      &:after {
        content:'';
        pointer-events: none;
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
        transform: translateX(-12px);
        border-style: solid;
        border-color: transparent;
        border-width: 10px 12px;
        border-top-color: #820263;
      }
    }
    .hover-up {
      opacity: 0.75;
    }
    .hover-down {
      opacity: 0.5;
      position: absolute;
      top: 0;
    }
    &:hover {
      .hover-up {
        opacity: 1;
      }
      .hover-down {
        opacity: 0;
      }
    }
  }
  .row-item {
    .info {
      bottom: 115%;
      &:after {
        top: 100%;
      }
    }
  }
  .row-item:hover {
    .info {
      bottom: 106%;
      opacity: 1;
    }
  }
}

@include media(max-width 960px) {
  body, html {
    height: auto;
  }
  header.header {
    position: relative;
    padding-top: 0.5em;
    height: 50px;
    .logo {
      img {
        height: 50px;
      }
    }
    .title {
      .name {
        font-size: 1.75em;
      }
      .dream {
        font-size: 1.25em;
      }
    }
    .menu {
      position: fixed;
      left: 50%;
      margin: 0 !important;
      padding-top: 0.5em;
      width: 50%;
      height: 100%;
      margin-top: 9px;
      text-align: right;
      pointer-events: none;
      .menu-button {
        display: block;
        position: relative;
        margin-top: 4px;
        z-index: 100;
        width: 85%;
        font-size: 2em;
        pointer-events: all;
      }
      ul {
        position: absolute;
        top: 0;
        left: 200%;
        height: 100%;
        width: 185%;
        padding-right: 100%;
        padding-top: 72px;

        background: rgba(255, 255, 255, 1);
        box-shadow: -1px 0px rgba(0, 0, 0, 0.25);
        transition: all 150ms ease-in-out;
        display: inline-block;
        pointer-events: all;
        li {
          line-height: 2em;
        }
      }
      &.active {
        ul {
          left: 0px;
        }
      }
    }
  }
  .content {
    height: auto;
  }
  .row {
    @include shift(1);
    @include span-columns(10);
    .row-item {
      width: 28%;
    }
  }
  footer.footer {
    position: relative;
    height: auto;
  }
}

@include media(max-width 640px, 4) {
  header.header {
    margin-top: 0;
    position: fixed;
    top: 0px;
    height: 62px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    .logo {
      @include shift(.25);
      @include span-columns(1.25);
      margin-right: 3%;
      padding-top: 4px;
      img {
        height: 50px;
        width: auto;
      }
    }
    .title {
      @include span-columns(2);
      .name {
        font-size: 1.5em;
      }
      .dream {
        display: none;
      }
    }
  }

  .row {
    .row-item {
      width: 75%;
      margin-left: 12.5%;
      margin-top: 2em;
      .info {
        display: none !important;
      }
    }
  }
  footer.footer {
    margin-top: 0 !important;
    bottom: 0;
    padding-top: 8px;
    background: #fff;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
    .tagline {
      margin-bottom: 0.4em;
    }
  }
}

@include media(max-width 480px, 4) {
  header.header {
    .logo {
      margin: 0;
      margin-left: 4%;
      margin-right: 1%;
      margin-top: 0;
      width: 20%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .title {
      width: 50%;
      margin-right: 0;
    }
    .menu {
      .menu-button {
        margin-top: -8px;
        width: 70%;
        transform: scale(1.5, 1);
      }
    }
  }
}