header.header {
  margin-top: 1em;
  width: 100%;
  height: 100px;
  .logo {
    @include span-columns(3 of 12);
    text-align: center;
    img {
      max-height: 100px;
    }
  }

  .title {
    @include span-columns(6 of 12);
    @include omega();
    height: 100%;
    .name {
      text-align: center;
      font-size: 3em;
      font-weight: 200;
    }
    .dream {
      text-align: center;
      font-size: 2em;
      font-weight: 200;
      color: $orange;
    }
  }
  .menu {
    margin-top: 9px;
    @include span-columns(2.25);
    @include omega();
    text-align: right;
    .menu-button {
      display: none;
      cursor: pointer;
      font-size: 1.125em;
      line-height: 1.125em;
      font-weight: 300;
    }
    ul {
      li {
        font-size: 1.125em;
        line-height: 1.125em;
        font-weight: 300;
        a {
          position: relative;
          text-decoration: none;
          transition: color 150ms ease-out;
          &:before {
            content: "-";
            position: absolute;
            left: -30px;
            opacity: 0;
            transition: all 150ms ease-out;
          }
          &:hover {
            color: $green;
            &:before {
              left: -10px;
              opacity: 1;
              color: $green;
            }
          }
        }
      }
    }
  }
  .menu-container {
    @include span-columns(2.5 of 12);
    @include omega();
    height: 100%;
    .menu-button {
      display: none;
      font-size: 2em;
    }
  }
}