<!doctype html>

{% load static from staticfiles %}

<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
            {% block page_title %}
            {% endblock page_title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/png" href="{% static 'art/favicon.png' %}"/>

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/js/vendor/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        {% block extra_style %}
        {% endblock extra_style %}

        <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="/static/js/vendor/jquery-1.12.0.min.js"></script>

        <script type="text/javascript" src="/static/js/vendor/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
        <!-- Optionally add helpers - button, thumbnail and/or media -->
        <link rel="stylesheet" href="/static/js/vendor/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
        <script type="text/javascript" src="/static/js/vendor/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
        <script type="text/javascript" src="/static/js/vendor/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

        <link rel="stylesheet" href="/static/js/vendor/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
        <script type="text/javascript" src="/static/js/vendor/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

        <script type="text/javascript" src="/static/js/vendor/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
        {% block extra_js %}
        {% endblock extra_js %}

        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body class="{{body_class}}">
        <div class="outer-container">
            {% include 'utils/ie-warning.html' %}

            <header class="header z-top">
                {% include 'regions/header.html' %}
            </header>

            <div class="content z-bottom">
                {% block body_content %}
                    <h1>Body Content</h1>
                {% endblock body_content %}
            </div>

            <footer class="footer z-top">
                {% include 'regions/footer.html' %}
            </footer>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>-->
        <script src="/static/js/backstage.js"></script>
    </body>
</html>
