    <div class="tagline">
        <h4>
            NORTHEAST HEART//NEW YORK SOUL
        </h4>
    </div>
    <div class="social-links">
        <a
            class="fa fa-linkedin"
            href="https://www.linkedin.com/in/meghanrduffy"
            target="_blank">
        </a>
        <a
            class="fa fa-facebook-official"
            href="https://www.facebook.com/nomadpenguin"
            target="_blank">
        </a>
        <a
            class="fa fa-twitter"
            href="https://twitter.com/ladycollective"
            target="_blank">
        </a>
        <a
            class="fa fa-google"
            href="mailto:megrduffy16@gmail.com"
            target="_blank">
        </a>
        <a
            class="fa fa-pinterest-p"
            href="https://www.pinterest.com/ladycollective/"
            target="_blank">
        </a>
        <a
            class="fa fa-instagram"
            href="#"
            target="_blank">
        </a>
    </div>
