{% load static from staticfiles %}
    <div class="tagline valign">
        <h4>
            NORTHEAST HEART//NEW YORK SOUL
        </h4>
    </div>
    <div class="social-links valign">
        <a href="https://www.linkedin.com/in/meghanrduffy" target="_blank">
            <img src="{% static 'art/linkedin.png' %}" />
        </a>
        <a href="https://www.facebook.com/nomadpenguin" target="_blank">
            <img src="{% static 'art/facebook.png' %}" />
        </a>
        <a href="https://twitter.com/ladycollective" target="_blank">
            <img src="{% static 'art/twitter.png' %}" />
        </a>
        <a href="mailto:megrduffy16@gmail.com" target="_blank">
            <img src="{% static 'art/google.png' %}" />
        </a>
        <a href="https://www.pinterest.com/ladycollective/" target="_blank">
            <img src="{% static 'art/pinterest.png' %}" />
        </a>
        <a href="#" target="_blank">
            <img src="{% static 'art/instagram.png' %}" />
        </a>
    </div>
