{% load static from staticfiles %}
    <div class="tagline">
        <h4>
            NORTHEAST HEART<span class="no-mobile">//</span><br class="mobile-only"/>NEW YORK SOUL
        </h4>
    </div>
    <div class="social-links">
        {% if profile.linkedin %}
            <a href="https://www.linkedin.com/in/meghanrduffy" target="_blank">
                <img src="{% static 'art/linkedin.png' %}" />
            </a>
        {% endif %}
        {% if profile.facebook %}
            <a href="https://www.facebook.com/nomadpenguin" target="_blank">
                <img src="{% static 'art/facebook.png' %}" />
            </a>
        {% endif %}
        {% if profile.twitter %}
            <a href="https://twitter.com/ladycollective" target="_blank">
                <img src="{% static 'art/twitter.png' %}" />
            </a>
        {% endif %}
        {% if profile.google %}
            <a href="mailto:megrduffy16@gmail.com" target="_blank">
                <img src="{% static 'art/google.png' %}" />
            </a>
        {% endif %}
        {% if profile.pinterest %}
            <a href="https://www.pinterest.com/ladycollective/" target="_blank">
                <img src="{% static 'art/pinterest.png' %}" />
            </a>
        {% endif %}
        {% if profile.instagram %}
            <a href="#" target="_blank">
                <img src="{% static 'art/instagram.png' %}" />
            </a>
        {% endif %}
    </div>
    <em class="clear-it"></em>
