{% load static from staticfiles %}

<div class="logo">
    <a href="/">
        <img src="{% static 'art/logo.png' %}"/>
    </a>
</div>

<div class="title">
    <div class="wrapper valign">
        <h1 class="no-margin name">MEGHAN R. DUFFY</h1>
        <h4 class="no-margin dream">Storyteller + Strategist</h4>
    </div>
</div>

<div class="menu">
    <a class="menu-button"><i class="fa fa-bars"></i></a>
    <ul>
        <li>
            <a data-index="1" href="/about/">ABOUT</a>
        </li>
        <li>
            <a data-index="2" href="/writing/">WRITING</a>
        </li>
        <li>
            <a data-index="3" href="/photos/">PHOTOS</a>
        </li>
        <li>
            <a data-index="4" href="{% static 'resources/meg-duffy-resume-2016.pdf' %}">RESUME</a>
        </li>
        <li>
            <a data-index="5" href="mailto:hi@meghanrduffy.com">CONTACT</a>
        </li>
    </ul>
</div>

<!--<div class="menu-container">-->
    <!--<a class="menu-button" href="#">-->
        <!--<img src="{% static 'art/menu-button.png' %}"/>-->
    <!--</a>-->
<!--</div>-->

<em class="clear-it"></em>