{% load static from staticfiles %}

<div class="logo">
    <img src="{% static 'art/logo.png' %}"/>
</div>

<div class="title">
    <div class="wrapper valign">
        <h1 class="no-margin name">MEGHAN R. DUFFY</h1>
        <h4 class="no-margin dream">Storyteller + Strategist</h4>
    </div>
</div>

<div class="menu">
    <ul>
        <li>ABOUT</li>
        <li>WRITING</li>
        <li>PHOTOS</li>
        <li>RESUME</li>
        <li>CONTACT</li>
    </ul>
</div>

<!--<div class="menu-container">-->
    <!--<a class="menu-button" href="#">-->
        <!--<img src="{% static 'art/menu-button.png' %}"/>-->
    <!--</a>-->
<!--</div>-->

<em class="clear-it"></em>